        a{
            text-decoration: none;
        }

        .ex li{
            list-style: none;
            width: 150px;
            height: 30px;
            border: 1px solid #b0b0b0;
            float: left;
            text-align: center;
        }

        .ex ul{
            position: relative;
            left: 500px;
            top: -15px;
        }

        .ex h1{
            position: relative;
            left: -350px;
            top: 50px;
        }

        .ex form{
            text-align: center;
        }

        #al{
            background-color: #5897fb; 
        }

        .en{
            position: relative;
            left: 1220px;
            top: -120px;
        }

        .ine{
            width: 1650px;
            height: 100px;
        }
        
        .w{
            float: left;
            margin: 50px 50px;
        }

        .w img{
            width: 120px;
            height: 150px;
            position: relative;
            left: 100px;
        }

        .w p{
            text-align:left; 
            position: relative;
            left: 60px;
        }

        .w h2{
            position: relative;
            left: 90px;
        }

        .ex li:hover{
            background-color: #5897fb;
        }



        #ex1{
            position: absolute;
            top: 1100px;
            width: 1580px;
            left: -535px;
        }

        #ex1 li{
            width: 375px;
        }

        #tip{
            position: absolute;
            top: 950px;
            left: 300px;
            height: 10px;
        }

        body{
            background:url(../images/Background5.jpg) no-repeat 0px 0px fixed;
            background-size: 100%;
            font-size: 16px;
            margin: 0px auto;
            position: relative;
        
            
        }